## Example .runxtbrc
#

## Set default processes (< number of available cores).
#
   requested_numCPU=4

## Set default memory to be used in megabyte.
#
   requested_memory=1000

## Set installation directory (not including the bin directory and the executable name).
#
#  xtb_install_root="/path/to/xtb/root"
   xtb_install_root=""
#
## Set the name of the executable.
## (This should be xtb. Set to xtb.dummy for testing.)
#
#  xtb_callname="xtb.dummy"
   xtb_callname="xtb"
#
## The above two lines combined and inserting /bin/ should give the full path to the program, i.e.
## /path/to/XTBHOME/bin/xtb_callname

## Set chattyness of runxtb.sh. 
## (0: all; 1: no info; 2: no warnings; >2: nothing)
#
   stay_quiet=0

## Trap output of xtb in a file.
## Uncomment the line below to always use the same filename, 
## which can be overwritten with the -o switch.
#
#  output_file="runxtb.out"
#
## Always generate a file with the output of xtb, but generate this name
## automagically derived from the input filename, arguments: '', 'auto', or '0'.
## Sent to standard output, arguments: 'stdout', '-'
#
   output_file="auto"
#
## This can be overwritten with an explicit empty argument to -o:
##   runxtb -o '' [other opts] <coord> [xtb options]

## Set default mode, where interactive means that it is calculated immediately.
## (yes: interactive; no: write script; sub: write and submit)
#
   run_interactive="yes"

## Set default queueing system for which the script should be written.
## Format <queue>-<special>
## Recognised values for <queue>: pbs, bsub, slurm
## Recognised values for <special>: gen, rwth (no effect for pbs) [special cases, see source code]
#
   request_qsys="slurm-gen"

## If project options are enabled (e.g. for bsub-rwth), 
## set to which it should be accounted.
## This can be overwritten with -P0 or -P default.
#
   qsys_project="default"

## If modules are installed, their use can be enabled here.
## The default is setting the path, see above.
#
#  use_modules="true"
   use_modules="false"
#
#  They need to be named, too. For example (on CLAIX18):
#
#  load_modules[0]="CHEMISTRY"
#  load_modules[1]="xtb"

## Set Walltime for non-interactive mode
#
   requested_walltime="24:00:00"

#
## End of example .runxtbrc (2019-03-18)
