# Example .runxtbrc

## Set default processes (= number of available cores)
#
   OMP_NUM_THREADS=4
   MKL_NUM_THREADS=4

## Set default memory to be used
#
   OMP_STACKSIZE=1000m

## Set directory (not including the executable)
#
#  XTBHOME=/path/to/xtb
#
## Set the name of the executable 
## (This should be xtb. Here set to xtb.dummy for testing.)
#
   xtb_callname="xtb.dummy"
#
## The above two lines combined should give the full path to the program, i.e.
## XTBHOME/xtb_callname

## Set chattyness 
## (0: all; 1: no info; 2: no warnings; >2: nothing)
#
   stay_quiet=0

## Trap output of xtb in (default filename)
#
#  output_file="runxtb.out"

## Set default mode 
## (yes: interactive; no: write script; sub: write and submit)
#
   run_interactive="yes"

## Set Walltime for non-interactive mode
#
#  requested_walltime="24:00:00"

